
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4 class="card-title">Recent and past Doantions for Causes</h4>
            </div>
             <div class="col-auto"> <a href="/member/causes" class="btn btn-sm btn-outline-primary">
                    <span class="day-name" id="Day_Name">Donate Cause</span>&nbsp;
                    <i data-feather="plus" class="align-self-center icon-xs ms-1"></i>
                </a></div>

        </div>
    </div>
    <!--end card-header-->
    <div class="card-body">

        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap "
            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            <thead class="bg-dark text-white">
                <tr>
                    <th class="text-white">S/N</th>
                    <th class="text-white">Cause</th>
                    <th class="text-white">Amount</th>
                    <th class="text-white">Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each causes }}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{name}}</td>
                    <td>₦{{amount}}</td>
                    <td>{{date}}</td>
                </tr>


                {{/each }}
            </tbody>
        </table>
    </div>
    <!--end card-body-->
</div>
<!--end card-->