<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <p class="text-muted mb-0">Please provide your <b>Current Password</b> to update your password</p>
            </div>
            <!--end card-header-->
            <div class="card-body">
                <form action="password" method="post" id="wizardForm" class="form-parsley" role="form">

                    <div class="form-group col-md-12">
                        <label for="current_password">Current Password</label>
                        <input id="current_password" type="password" class="form-control " name="old_passwd" required
                            placeholder="Enter your current password">

                    </div>
                    <div class="form-group col-md-12">
                        <label for="password">New Password</label>
                        <input id="password" type="password" class="form-control " name="new_passwd" required
                            autocomplete="new-password" placeholder="Enter new password">


                    </div>
                    <div class="form-group col-md-12">
                        <label for="password-confirm">Confirm New Password</label>
                        <input id="password-confirm" type="password" data-parsley-equalto="#password"
                            class="form-control" name="password_confirmation" required autocomplete="new-password"
                            placeholder="Confirm password">
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <label for="" class="text-danger">{{error}}</label>
                         <label for="" class="text-success">{{success}}</label>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" class="btn btn-primary" value="Update Password">
                    </div>
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->

    </div>



</div><!-- Row -->